*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
body{
    background-color: black;
}
.list{
    height: 100vh;
    
}
.gameover {
	position: fixed;
	z-index: 100000;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	animation: gameover 15s linear forwards;
	font-size: 80px;
	color: white;
	font-weight: bold;
	text-align: center;
	text-indent: 0;
	line-height: 500px;
	-webkit-animation: gameover 15s linear forwards;
}
@keyframes gameover{
    0%{left:-5000px;bottom:100%;}
    97%{left:-5000px;bottom:100%;}
    100%{ left:0px;}
    }


h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.input-circle ~ .pajaro{
   
    transition:0.3s  cubic-bezier(0,.43,1,0);
    animation: move 8s infinite alternate;
  }

.list .pajaro{
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition:0.3s  cubic-bezier(0,.43,1,0);
    animation: move 8s infinite alternate;
    -webkit-animation: move 8s infinite alternate;
}


.list .ball1{
    top:50px;
    left: 50px;
    animation-delay: -2s;
    background-color: aqua;
    transform:scale(0.9);
    animation: round 8s infinite alternate;
    -webkit-animation: round 8s infinite alternate;
}
@keyframes round{
    0%{left:0%;}
    20%{left:50%;top:80%; }
    40%{top:40%; left:40%;}
    60%{top:60%;left:70%;}
    80%{top:50%; left:60%;}
    100%{top:30%; left:20%; }
    }



.list .ball2{
    top:100px;
    animation-delay: -1s;
    transform:scale(0.8); 
    background-color: orangered;

   
}
.list .ball3{
    top:200px;
    animation-delay: -3s;
    transform:scale(1.4); 
    background-color: green;
}
.list .ball4{
    top:50px;
    animation-delay: -12s;
    transform:scale(0.9);
    background-color: palevioletred;
   
}
.list .ball5{
    top:100px;
    animation-delay: -16s;
    transform:scale(0.5);
    background-color: purple;
   
}
.list .ball6{
    top:150px;
    left: 50px;
    animation-delay: -18s;
    transform:scale(0.5);
    background-color: magenta;
    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    -ms-transform:scale(0.5);
    -o-transform:scale(0.5);
    
}
.list .ball7{
    top:100px;
    left: 60px;
    animation-delay: -20s;
    transform:scale(1.2);
    background-color: peachpuff;
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
}
.list .ball8{
    top:100px;
    left: 70px;
    animation-delay: -22s;
    transform:scale(0.8);
    background-color: firebrick;
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -ms-transform:scale(0.8);
    -o-transform:scale(0.8);
}
.pajaro{   
    position:absolute;
    left:0;  
    cursor:crosshair;
  }
  /* #click{
    display: none;
}  */

input{
    display: none;
}
.input-circle1:checked ~ .ball1{
    display: none;
}
.input-circle2:checked ~ .ball2{
    display: none;
}
.input-circle3:checked ~ .ball3{
    display: none;
}
.input-circle4:checked ~ .ball4{
    display: none;
}
.input-circle5:checked ~ .ball5{
    display: none;
}
.input-circle6:checked ~ .ball6{
    display: none;
}
.input-circle7:checked ~ .ball7{
    display: none;
}
.input-circle8:checked ~ .ball8{
    display: none;
}
  @keyframes move{
    0%{left:0%;}
    20%{left:20%;top:50%; }
    40%{top:30%; left:60%;}
    60%{top:80%;left:80%;}
    80%{top:10%; left:20%;}
    100%{top:30%; left:20%; }
    }
  






